html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  background-color: #222;
  color: white;
  height: 5rem;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  padding: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  line-height: 3rem;
}

ul {
  text-align: left;
}

ul {
  list-style: none;
}

path {
  stroke: #ddd;
  stroke-width: 1px;
}

.field {
  opacity: 0.25;
}

.field text {
}

.field:hover {
  opacity: 1;
}

.field:hover .field {
  opacity: 0.5;
}

.field .field {
  opacity: 0.1;
}

.field .field:hover {
  opacity: 1;
}